* {
	z-index: 999;
}

.content {
	background: white;
}

.container {
	padding: 50px 10%;
	@include tablet {
		padding: 50px 5%;
	}
	@include mobile {
		padding: 50px 5%;
	}

	.row {
		margin: 20px 0;
	}
}
// FLEX GRID

%flex {
	display: flex;
}

.flex-row {
	@extend %flex;
	flex-flow: row wrap;
}

.flex-column {
	@extend %flex;
	flex-flow: column;
}

.flex-column,
.flex-row {
	.flex1 {
		flex: 1;
	}

	.flex2 {
		flex: 2;
	}

	.flex3 {
		flex: 3;
	}

	.flex4 {
		flex: 4;
	}
}

// Responsive properties


// show (only) elements
.desktop-only {
	@include laptop {
		display: none !important;
	}
	@include tablet {
		display: none !important;
	}
	@include mobile {
		display: none !important;
	}
}
.laptop-only {
	@include desktop {
		display: none !important;
	}
	@include tablet {
		display: none !important;
	}
	@include mobile {
		display: none !important;
	}
}
.tablet-only {
	@include desktop {
		display: none !important;
	}
	@include laptop {
		display: none !important;
	}
	@include mobile {
		display: none !important;
	}
}
.mobile-only {
	@include desktop {
		display: none !important;
	}
	@include laptop {
		display: none !important;
	}
	@include tablet {
		display: none !important;
	}
}

// combined responsiveness
.desktop-laptop-only {
	@include mobile-tablet {
		display: none !important;
	}
}
.mobile-tablet-only {
	@include desktop-laptop {
		display: none !important;
	}
}

// Hide elements
.desktop-hide {
	@include desktop {
		display: none !important;
	}
}
.laptop-hide {
	@include laptop {
		display: none !important;
	}
}
.mobile-hide {
	@include mobile {
		display: none !important;
	}
}
.tablet-hide {
	@include tablet {
		display: none !important;
	}
}
