#section-about {
	.container {
		margin: 0;
		background-image: url("./images/triangle-bg.svg");
		background-repeat: no-repeat;
		background-size: cover;
		.aboutme-content {
			padding: 5%;
		}
		@include tablet {
			.aboutme-content {
				flex: 2;
			}
			.about-image {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		@include mobile {
			flex-flow: column;
			h1, h2 {
				text-align: center;
				margin-top: 0;
			}

			p {
				font-size: 1.2rem;
				font-family: $font-primary;
			}
		}

		h2 {
			color: $gold;
		}
		.about-image {
			padding: 5%;
			text-align: center;
			img {
				width: 70%;
			}
		}
	}

}
