
// MAIN PAGE
#section-top {
  position: relative;
  height: 89vh;
  padding: 0;

  .black {
    height: 80%;
    width: 60%;
    background-color: $black;
    animation: blackBoxMove 2s ease-in-out;

    @include position(absolute, $bottom: 0, $right: 0);
    z-index: -1;
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }

  .title img {
    @include position(absolute, $top: 0, $left: 0);
    z-index: 1;
    margin: 15px 20px 0 20px;
    padding: 0;
    animation: fadeInLeft 2s ease-in-out;
    &::after {
      width: 100%;
      padding: 0;
    }
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }

  .txt-wrapper {
    display: flex;
    position: relative;
    height: 100%;
    z-index: 1;

  }
  .txt-part {
    margin-top: 2%;
    z-index: 9999;
  }

  // TEXT-ANIMATION: text-wrapper ----------
  .ml10 {
    font-size: 4em;
    margin-bottom: 100px;
    @include tablet {
      margin-bottom: 100px;
    }
    @include mobile {
      margin-bottom: 60px;
    }
  }
  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-top: 0.2em;
    padding-right: 0.5em;
    padding-bottom: 0.1em;
    overflow: hidden;
    color: black;
    background-color: white;
    @include tablet {
      font-size: 3rem;
    }
    @include mobile {
      font-size: 2rem;
    }
  }
  .ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
  }
  // ------------------------------------------
  .service-a-tag {
    background-color: $gold;
    font-size: 1.2em;
    padding: 3px 8px;

  }

  .photo-wrapper-slider {
    width: 67%;
    height: 80%;
    position: absolute;
    bottom: 5%;
    left: 26%;
    z-index: 123;
    // margin-left: -100px;
    animation: fadeInBottom 1s cubic-bezier(0.5, 0.51, 0.31, 1.02);
    @include tablet {
      left: 20%;
      width: 60%;
      height: 75%;
    }
    @include mobile {
      left: 0;
      width: 100%;
      height: 85%;
    }
  }
}
