#section-services .container {
	padding: 0;
	margin: 0;
	h1 {
		text-align: center;
	}
	.service-list {
		ul {
			text-decoration: none;
			justify-content: center;
	    li {
				margin: 0 5px ;
				padding: 0 5px;
				text-align: center;
				list-style-type: none;
				background-color: $gold;
				a {
					font-family: $font-primary;
					text-decoration: none;
					font-size: 1rem;
					font-weight: 600;
				}
	      @include mobile {
	        //text-align: center;
	      }
	    }
	  }
	}
}

#section-professional {
	.pro-top {
		height: 350px;
		background-image: url("./images/placeholders/home-portraits.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		h1 {
			background-color: white;
			font-family: $font-primary;
			font-size: 3rem;
			display: inline-block;
			padding: 3px 8px;
		}
	}
	.part-down {
		background-image: url("./images/triangle-bg.svg");
		background-repeat: no-repeat;
		background-size: 120%;
		background-position: right;
	}
	.part-pics {
		img {
			height: 150px;
			width: auto;
			margin: 5px;
		}
	}
}


#section-id {
	.id-top {
		height: 350px;
		background-image: url("./images/placeholders/home-portraits.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		h1 {
			background-color: white;
			font-family: $font-primary;
			font-size: 3rem;
			display: inline-block;
			padding: 3px 8px;
		}
	}
	.part-down {
		background-image: url("./images/triangle-bg.svg");
		background-repeat: no-repeat;
		background-size: 120%;
		background-position: right;
	}
	.part-pics {
		img {
			height: 150px;
			width: auto;
			margin: 5px;
		}
	}
}

#section-family {
	.family-top {
		height: 350px;
		background-image: url("./images/placeholders/home-portraits.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		h1 {
			background-color: white;
			font-family: $font-primary;
			font-size: 3rem;
			display: inline-block;
			padding: 3px 8px;
		}
	}
	.part-down {
		background-image: url("./images/triangle-bg.svg");
		background-repeat: no-repeat;
		background-size: 120%;
		background-position: right;
	}
	.part-pics {
		img {
			height: 150px;
			width: auto;
			margin: 5px;
		}
	}
}

#section-wedding {
	.wedding-top {
		height: 350px;
		background-image: url("./images/placeholders/home-portraits.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		h1 {
			background-color: white;
			font-family: $font-primary;
			font-size: 3rem;
			display: inline-block;
			padding: 3px 8px;
		}
	}
	.part-down {
		background-image: url("./images/triangle-bg.svg");
		background-repeat: no-repeat;
		background-size: 120%;
		background-position: right;
	}
	.part-pics {
		img {
			height: 150px;
			width: auto;
			margin: 5px;
		}
	}
}

#section-fine-art {
	.fine-art-top {
		height: 350px;
		background-image: url("./images/placeholders/home-portraits.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		h1 {
			background-color: white;
			font-family: $font-primary;
			font-size: 3rem;
			display: inline-block;
			padding: 3px 8px;
		}
	}
	.part-down {
		background-image: url("./images/triangle-bg.svg");
		background-repeat: no-repeat;
		background-size: 120%;
		background-position: right;
	}
	.part-pics {
		img {
			height: 150px;
			width: auto;
			margin: 5px;
		}
	}
}

#section-photo-restoration {
	.photo-restoration-top {
		height: 350px;
		background-image: url("./images/placeholders/home-portraits.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		h1 {
			background-color: white;
			font-family: $font-primary;
			font-size: 3rem;
			display: inline-block;
			padding: 3px 8px;
		}
	}
	.part-down {
		background-image: url("./images/triangle-bg.svg");
		background-repeat: no-repeat;
		background-size: 120%;
		background-position: right;
	}
	.part-pics {
		img {
			height: 150px;
			width: auto;
			margin: 5px;
		}
	}
}

#section-modelling {
	.modelling-top {
		height: 350px;
		background-image: url("./images/placeholders/home-portraits.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		h1 {
			background-color: white;
			font-family: $font-primary;
			font-size: 3rem;
			display: inline-block;
			padding: 3px 8px;
		}
	}
	.part-down {
		background-image: url("./images/triangle-bg.svg");
		background-repeat: no-repeat;
		background-size: 120%;
		background-position: right;
	}
	.part-pics {
		img {
			height: 150px;
			width: auto;
			margin: 5px;
		}
	}
}
