.hamburger-container {
  z-index: 99999;
}
.hamburger {
  padding: 10px;
  .line {
    width: 25px;
    height: 3px;
    background-color: $black;
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.hamburger:hover{
  cursor: pointer;
}
#hamburger-arrow-right {
  margin-right: 10px;
}

/* hamburger-cross */
#hamburger-cross {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-cross.is-active{
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig{
  0%, 100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

#hamburger-cross.is-active .line:nth-child(1),
#hamburger-cross.is-active .line:nth-child(2),
#hamburger-cross.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#hamburger-cross.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-cross.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-cross.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

// hamburger-arrow-left ------------

#hamburger-arrow-left.is-active .line:nth-child(1),
#hamburger-arrow-left.is-active .line:nth-child(3){
  width: 15px;
}

#hamburger-arrow-left.is-active .line:nth-child(1){
  -webkit-transform: translate(-7px,2px) rotate(-45deg);
  -ms-transform: translate(-7px,2px) rotate(-45deg);
  -o-transform: translate(-7px,2px) rotate(-45deg);
  transform: translate(-7px,2px) rotate(-45deg);
}

#hamburger-arrow-left.is-active .line:nth-child(3){
  -webkit-transform: translate(-7px,-2px) rotate(45deg);
  -ms-transform: translate(-7px,-2px) rotate(45deg);
  -o-transform: translate(-7px,-2px) rotate(45deg);
  transform: translate(-7px,-2px) rotate(45deg);
}

//  hamburger-arrow-right ------------

#hamburger-arrow-right.is-active .line:nth-child(1),
#hamburger-arrow-right.is-active .line:nth-child(3){
  width: 15px;
}

#hamburger-arrow-right.is-active .line:nth-child(1){
  -webkit-transform: translate(7px,2px) rotate(45deg);
  -ms-transform: translate(7px,2px) rotate(45deg);
  -o-transform: translate(7px,2px) rotate(45deg);
  transform: translate(7px,2px) rotate(45deg);
}

#hamburger-arrow-right.is-active .line:nth-child(3){
  -webkit-transform: translate(7px,-2px) rotate(-45deg);
  -ms-transform: translate(7px,-2px) rotate(-45deg);
  -o-transform: translate(7px,-2px) rotate(-45deg);
  transform: translate(7px,-2px) rotate(-45deg);
}
