// Removable
h1 {
  font-size: 10rem;
}

// navbar
nav {
  display: block;
  width: 100%;
  background-color: blue;
  &.fixed {
    position: fixed;
  }
}

.nav-container {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 25px 10px;
  .nav-item {
		flex: 1;
    display: flex;
    align-items: center;
    border-right: 1px solid white;

		// Responsive properties
		&.mobile-tablet-hide {
			@include mobile-tablet {
				display: none;
			}
		}
		&.mobile-hide {
			@include mobile {
				display: none;
			}
		}
		&.tablet-hide {
			@include tablet {
				display: none;
			}
		}

		// aligning navbar items
    &.left {
      justify-content: flex-start;
    }
    &.middle {
      justify-content: center;
    }
    &.right {
      justify-content: flex-end;
    }
  }
}


// Edit This to adjust different type of menu
nav .nav-container {
	#item1 {
		flex: 2;
	}
	#item2 {
		flex: 3;
	}
	#item3 {
		flex: 1;
	}
	#item4 {
		flex: 2;
	}
}
